@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
  justify-content: center;
}

.photo-link {
  text-decoration: none;
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: 2px solid rgb(225, 225, 225);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
}

.photo-link:hover,
.photo-link:focus {
  transform: scale(1.05);
}
.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.photo-img {
  display: block;
  height: 30vh;
  width: 300px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  margin: 0;
  text-align: center;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.load-more {
  border: 0;
  border-radius: 7px;
  background: rgb(183, 87, 87);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  height: 50px;
  align-items: center;
  width: 100px;
  justify-content: center;
  margin-bottom: 10px;
}

.visually-hidden {
  visibility: hidden;
}
